<div style="padding: 0 12px">
    <div class="tab">
      <button id="createButton" class="tabLinks" onclick="openTab(event, 'create')">Create</button>
      <button class="tabLinks" onclick="openTab(event, 'search')">Search</button>
    </div>

    <div id="create" class="tabContent">
        <div class="gridY">
            <label for="note-message" >Note:</label>
            <textarea class="input-message" id="note-message" placeholder="Start typing..." ></textarea>

            <label for="colors" style="margin-top: 8px">Tag:</label>
              <select name="colors" id="colorselector">
              <option value="yellow" selected="yellow">Yellow</option>
              <option value="biscuit">Biscuit</option>
              <option value="sky">Sky</option>
              <option value="purple">Purple</option>
              <option value="pink">Pink</option>
            </select>


            <button id="createNote" class="buttonStyle">Add</button>
        </div>
    </div>
    <div id="search" class="tabContent">
      <div class="searchForm">
          <div class="gridY">
            <div>
              <label for="searchKeyword">Keyword:</label>
              <input class="searchKeyword" id="searchKeyword" placeholder="Start typing..."  style="margin-top:4px; width: 100%;" />
            </div>
            <div style="margin: 8px 0">
              <label for="searchTagSelector">Tag:</label>
              <!-- <select name="colors" id="searchTagSelector" style="margin-top:4px">
                <option disabled selected value > Select </option>
                <option value="yellow">Yellow</option>
                <option value="biscuit">Biscuit</option>
                <option value="sky">Sky</option>
                <option value="purple">Purple</option>
                <option value="pink">Pink</option>
              </select> -->

            </div>
            <button id="searchNote" class="buttonStyle">Find note</button>
          </div> 
      </div>
      <div class="searchResults">
        <div id="searchResultsCountContainer" class="searchResultsNavigation">
            <!-- <button>Back</button> -->
            <div>
              <span id="searchResultsCount"></span>
              Results
            </div>
        </div>
        <div id="searchResultsContent" class="searchResultsContent">
            <!-- <div class="searchResultsItem">
                <p class="searchResultsText">This is a note</p>
                <div class="searchResultsMeta">
                    <p>Author</p>
                    <p>09/12/2022 05:12:22AM</p>
                </div>
            </div> -->
        </div>
      </div>
    </div>
</div>

<script>
    let textbox = '';
    let colorselector = '';
    let keyword = '';
    let findtag = '';
    let searchResults = [''];
    document.getElementById("searchResultsCountContainer").style.display = "none";

    document.getElementById('searchNote').onclick = () => {
      keyword = document.getElementById('searchKeyword').value;
      //findtag = document.getElementById('searchTagSelector').value;
      
      if (keyword.length != 0 || findtag.length != 0)
      { 
        parent.postMessage({ pluginMessage: { type: 'searchNoteEvent', keyword, findtag } }, '*')
      } else {
        alert("Please enter a search query or select a tag");
      }
    }

    //Tab functionality
    document.getElementById('create').style.display = "block";
    document.getElementById('createButton').className += " active";

    function openTab(evt, eventName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabContent");

        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tabLinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(eventName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    //end of tabs

    function goToNote(evt, evtID) {
      parent.postMessage({ pluginMessage: { type: 'goToNoteEvent', evtID } }, '*')
    }
    
    document.getElementById("note-message").focus();
    var input = document.getElementById("note-message");
    input.addEventListener("keypress", function(event) {
      if (event.key === "Enter") {
          event.preventDefault();
          document.getElementById("createNote").click();
        }
      });

    document.getElementById('createNote').onclick = () => {
      textbox = document.getElementById('note-message');
      colorselector = document.getElementById('colorselector');

      const noteMessage = textbox.value;

      color = colorselector.value;

      if (textbox.value.length != 0)
      { 
        parent.postMessage({ pluginMessage: { type: 'createNoteEvent', noteMessage, color } }, '*')
      } else {
        alert("Please enter a note");
      }
    }

    onmessage = event => {
      let searchResults = event.data.pluginMessage;

      // onclick="openTab(event, 'search')"
      
      var numberOfResults = 0;

      if(searchResults.results != null) {
        numberOfResults = searchResults.results.length;
      }

      document.getElementById("searchResultsContent").innerHTML = "";

      searchResults.results.forEach(element => {
        const item = document.createElement("div");
        item.classList.add("searchResultsItem");

        // const idAtt = document.createAttribute("id");
        // idAtt.value = element.id;

        item.setAttribute("id", element.id);
        const functionValue = 'goToNote(event,"' + element.id + '")';
        item.setAttribute("onClick", functionValue);
       
        const pElement = document.createTextNode(element.name);
    
        item.appendChild(pElement);

        const metaContainer = document.createElement("div");
        metaContainer.classList.add("searchResultsMeta");
        const authorElement = document.createTextNode(element.author);

        const authorContainer = document.createElement("div");
        authorContainer.appendChild(authorElement);
        metaContainer.appendChild(authorContainer);

        const timeElement = document.createTextNode(element.time);
        metaContainer.appendChild(timeElement)

        item.appendChild(metaContainer);

        document.getElementById("searchResultsContent").appendChild(item)

        document.getElementById("searchResultsCountContainer").style.display = "block";
        document.getElementById("searchResultsCount").innerHTML = numberOfResults;
        
     
      });
    }

</script>

<style>
  * {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }

  /* Style the tab */
  .tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    margin:0;
    padding-bottom: 8px;
  }

  /* Style the buttons inside the tab */
  .tab button {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 12px;
    min-width: 50px;
    color: #a1a1a1;
    background: #ffffff;
    text-align: left;
  }

  .tab button.active {
    font-weight: bold;
    color: #000;
  }

  .tabContent {
    display: none;
    padding: 12px 0px;
    border-top: none;
  }


  .gridY{
    display: flex;
    flex-direction: column;
  }

  .input-message {
    min-height: 150px;
  }

  button {
    margin-top: 12px;
  }
  textarea {
    background-color: white;
    border: thin solid #c1c1c1;
    border-radius: 2px;
    padding: 6px;
    line-height: 1.5em;
    font-size: 13px;
  }

  select {
    background-color: white;
    border: thin solid #c1c1c1;
    border-radius: 2px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    font-size: 13px;
    padding: 6px;
    width: 100%;
  }

  .buttonStyle {
    background-color: #fff000;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    font-weight: bold;
    padding: 6px 6px;
    text-align: center;
    transition: 200ms;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  .buttonStyle:not(:disabled):hover,
  .buttonStyle:not(:disabled):focus {
    outline: 0;
    background: #f4e603;
    box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
  }

  .buttonStyle:disabled {
    filter: saturate(0.2) opacity(0.5);
    -webkit-filter: saturate(0.2) opacity(0.5);
    cursor: not-allowed;
  }

  .color-set {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
  }

  label {
    margin-bottom: 4px;
    font-size: 12px;
  }

  .searchResultsNavigation {
    display: flex;
    flex-direction: row;
    font-size: 12px;
    width: 100%;
    justify-content: space-between;
    padding: 6px 0;
    align-items: center;
  }

  .searchResults {
    margin-top: 16px;
  }

  .searchResultsContent {
    display: flex;
    flex-direction: column;
  }

  .searchResultsNavigation button {
    display: inline-block;
    margin: 0;
    background-color: #fff;
    border: none;
    font-weight: bold;
  }

  .searchResultsNavigation div {
    display: inline-block;
  }

  .searchResultsItem {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eaeaea;
    padding: 8px 4px;
    font-size: 12px;
    border-radius: 4px;
    font-weight: 500;
  }

  .searchResultsItem:hover{
    background: #FFFFED;
    cursor: pointer;
  }

  /* .searchResultsItem > p {
    font-size: 13px;
  } */

  .searchResultsMeta {
    margin-top: 4px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 10px;
    color: #6a6a6a;
  }

  .searchKeyword {
    background-color: white;
    border: thin solid #c1c1c1;
    border-radius: 2px;
    padding: 6px;
    line-height: 1.5em;
    font-size: 13px;
  }

</style>
